## editors
/.idea
/.vscode/*
!/.vscode/extensions.json

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

# build
/dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
