table {
    border-collapse: separate;
    border-spacing: 0;
}

table th, td {
    padding: 0.5em;
}

table th {
    background: white;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table th:first-child,
table td:first-child {
  border-left: 1px solid black;
}

table thead {
    position: sticky;
    top: 0;
}

.scroll-padding {
    height: 100vh;
}
